---
layout: default
---

<div class="navbar-wrapper" role="navigation">
    <div class="container navigation-top">
        <div class="navwrapper">
            <div class="navbar navbar-inverse navbar-static-top">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="menuItem active"><a href="#navhome">Home</a></li>
                        <li class="menuItem"><a href="#navprofile">Profile</a></li>
                        <li class="menuItem"><a href="#navresume">Resume</a></li>
                        <li class="menuItem"><a href="#navportfolio">Portfolio</a></li>
                        <!-- <li class="menuItem"><a href="#navblog">Blog</a></li> -->
                        <li class="menuItem"><a href="#navcontact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id='contents' class="contents">
    <div id="wraper" class="wraper-card">
        <section id="navhome">
            <section class="home-header border-bottom padding-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-lg-5 text-center border-right">
                            <div class="foto">
                                <img src="./assets/img/febriahmadnurhidayat.png" alt="Febri Ahmad Nurhidayat">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-7 col-lg-7 text-center">
                            <h2 class="title">Febri Ahmad Nurhidayat</h2>
                            <h3 class="sub-title">Full Stack Developer <br>(Web Developer & Designer, Mobile Developer)</h3>
                            <div class="social">
                                <ul class="animated" data-animation="fadeIn" data-animation-delay="600">
                                    <li><a class="ukie-icons hover-animate" href="https://www.facebook.com/febriahmadn" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="ukie-icons hover-animate" href="https://twitter.com/febriahmadn" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <!-- <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-linkedin"></i></a></li> -->
                                    <li><a class="ukie-icons hover-animate" href="https://plus.google.com/u/0/105994498945436033011" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="ukie-icons hover-animate" href="https://www.instagram.com/febriahmadn/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    <!-- <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-youtube"></i></a></li> -->
                                    <!--
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-behance"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-digg"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-deviantart"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-envelope-square"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-delicious"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-dropbox"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-skype"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-tumblr"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-vimeo-square"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-flickr"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-github-alt"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-renren"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-vk"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-xing"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-weibo"></i></a></li>
                                        <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-rss"></i></a></li>
                                    -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <nav class="menu-style1" id="menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <a href="#navprofile" class="menu-li">
                                <span class="foto">
                                    <img src="./assets/img/menu/style1/profile.png" class="menu-img" data-img-name="profile" alt="Febri Ahmad Nurhidayat">
                                </span>
                                <span class="name">Profile</span>
                            </a>

                            <a href="#navresume" class="menu-li">
                                <span class="foto">
                                    <img src="./assets/img/menu/style1/resume.png" class="menu-img" data-img-name="resume" alt="Febri Ahmad Nurhidayat">
                                </span>
                                <span class="name">Resume</span>
                            </a>

                            <a href="#navportfolio" class="menu-li">
                                <span class="foto">
                                    <img src="./assets/img/menu/style1/portfolio.png" class="menu-img" data-img-name="portfolio" alt="Febri Ahmad Nurhidayat">
                                </span>
                                <span class="name">Portfolio</span>
                            </a>

                            <a href="/blogs" class="menu-li">
                                <span class="foto">
                                    <img src="./assets/img/menu/style1/blog.png" class="menu-img" data-img-name="blog" alt="Febri Ahmad Nurhidayat">
                                </span>
                                <span class="name">Blog</span>
                            </a>

                            <a href="#navcontact" class="menu-li">
                                <span class="foto">
                                    <img src="./assets/img/menu/style1/contact.png" class="menu-img" data-img-name="contact" alt="Febri Ahmad Nurhidayat">
                                </span>
                                <span class="name">Contact</span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </section>

        <div class="profile" id="navprofile">
            <header class="head">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-lg-5 text-right">
                            <img style="border-radius: 50%; width: 75px;" class="logo-page" src="./assets/img/febriahmadnurhidayat.png" alt="Febri Ahmad Nurhidayat">
                        </div>
                        <div class="col-xs-12 col-sm-7 col-lg-7">
                            <h2 class="title">Profile</h2>
                            <h4 class="sub-title">Tentang Saya</h4>
                        </div>
                    </div>
                </div>
            </header>

            <section class="content border-bottom padding-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-7 padding-bottom">
                            <h3 class="title">Hai...</h3>
                            <p>
                                I am interested in Web Developer & Designer, Mobile Developer, DevOps.<br><br>
                                Passionate about the intersection of technology and innovation, I thrive in the realm of computer technology, particularly software development. As a seasoned professional in the field, I've honed my skills to drive impactful projects as a Project Lead and Chief Technology Officer (CTO).</p>
                                <!-- <a href="#" class="btn hover-animate">Hire me Now</a><a href="#" class="btn btn-color hover-animate">Download CV</a> -->
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-5">
                            <div class="block-grey">
                                <table>
                                    <tr>
                                        <td class="font-weight-m">Nama</td>
                                        <td class="text-right">Febri Ahmad Nurhidayat</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">E-mail</td>
                                        <td class="text-right"><a href="mailto:febryyachmad@gmail.com">febriahmadn@gmail.com</a></td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Telephone</td>
                                        <td class="text-right"><a href="tel:+6285851464583">+6285851464583</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="font-weight-m"><i class="fa fa-circle green-marker" aria-hidden="true"></i>Available for freelance</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="instagram-feed padding-block border-bottom text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <h3 class="title">Instagram Feed</h3>
                        </div>
                    </div>
                    <div class="row" id="instafeed">
                        <!-- <div class="col-xs-6 col-sm-4 col-lg-2"  >
                            <img class="instagram-foto" src="assets/img/img-195x195.jpg" alt="Instagram Feed">
                        </div> -->
                    </div>
                </div>
            </section>

            <section class="info border-bottom padding-block text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <h3 class="title">What i’m doing</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <div class="circle-block ">
                                <span class="icon hover-animate"><i class="fa fa-android"></i></span>
                                <span class="name hover-animate">Mobile Applications</span>
                            </div>
                            <div class="circle-block">
                                <span class="icon hover-animate"><i class="fa fa-desktop"></i></span>
                                <span class="name hover-animate">Web design</span>
                            </div>
                            <div class="circle-block">
                                <span class="icon hover-animate"><i class="fa fa-code"></i></span>
                                <span class="name hover-animate">Web developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="my-thoughts padding-block text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <h3 class="title">My thoughts</h3>
                            <div class="animated">
                                <i class="fa fa-quote-left ukie-icons hover-animate"></i>
                            </div>
                            <p class="thoughts">Semua akan mudah jika mau belajar, ketenangan akan memberikan jawaban. Berbuat baik dan melakukannya dengan baik. </p>
                            <h4 class="sub-title">Febri Ahmad Nurhidayat</h4>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="resume" id="navresume">
            <header class="head">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-lg-5 text-right">
                            <img class="logo-page" src="./assets/img/resume_l.png" alt="Febri Ahmad Nurhidayat">
                        </div>
                        <div class="col-xs-12 col-sm-7 col-lg-7">
                            <h2 class="title">Resume</h2>
                            <h4 class="sub-title">My Academic Qualifications</h4>
                        </div>
                    </div>
                </div>
            </header>

            <section class="content padding-block border-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-6 padding-bottom">
                            <h3 class="title title-resume">Pendidikan</h3>
                            <div class="block-grey">
                                <div id="education-slider" class="owl-carousel owl-theme">
                                    <div class="item">
                                        <table>
                                            <tr>
                                                <td class="font-weight-m width-td">Nama</td>
                                                <td>SMK TI Pelita Nusantara</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-m">Periode</td>
                                                <td>2013-2016</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-m">Jurusan</td>
                                                <td>Rekayasa Perangkat Lunak</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                            <h3 class="title title-resume">Pekerjaan</h3>
                            <div class="block-grey">
                                <div id="work-slider" class="owl-carousel owl-theme">
                                    <div class="item">
                                        <table>
                                            <tr>
                                                <td class="font-weight-m width-td1">Nama Perusahaan</td>
                                                <td>CV. Adisatya IT Consultant</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-m">Periode</td>
                                                <td>2016-2018</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-m">Jabatan</td>
                                                <td>Web developer & designer, Mobile developer, Server Administrator</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="skills border-bottom padding-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-6 padding-bottom">
                            <h3 class="title title-skills">Professional skills</h3>

                            <label class="progress-bar-label">JavaScript</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <span>80%</span>
                                </div>
                            </div>

                            <label class="progress-bar-label">HTML &amp; CSS</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                                    <span>98%</span>
                                </div>
                            </div>

                            <label class="progress-bar-label">Python</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">
                                    <span>89%</span>
                                </div>
                            </div>

                            <label class="progress-bar-label">PHP</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <span>80%</span>
                                </div>
                            </div>

                            <label class="progress-bar-label">SQL (SQLite, MySQL, PostgreSQL)</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <span>75%</span>
                                </div>
                            </div>

                            <label class="progress-bar-label">Java</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    <span>70%</span>
                                </div>
                            </div>

                            <label class="progress-bar-label">Django (Python)</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    <span>90%</span>
                                </div>
                            </div>

                            <label class="progress-bar-label">CodeIgniter (PHP)</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    <span>90%</span>
                                </div>
                            </div>

                            <label class="progress-bar-label">Laravel (PHP)</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    <span>60%</span>
                                </div>
                            </div>

                            <label class="progress-bar-label">AngularJS (JavaScript)</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <span>75%</span>
                                </div>
                            </div>

                            <label class="progress-bar-label">Vue.js (JavaScript)</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100">
                                    <span>79%</span>
                                </div>
                            </div>

                            <label class="progress-bar-label">Cordova (Hybrid Web Application)</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <span>80%</span>
                                </div>
                            </div>

                            <label class="progress-bar-label">Photoshop</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    <span>70%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                            <h3 class="title title-skills">Additional skills</h3>
                            <div class="circle-progress-block">
                                <div class="circle-progress">
                                    <input type="text" class="dial" value="60" data-color="#00b6f9" data-from="0" data-to="99" />
                                </div>
                                <label class="circle-progress-label">Communication</label>
                            </div>

                            <div class="circle-progress-block">
                                <div class="circle-progress">
                                    <input type="text" class="dial" value="78" data-color="#00b6f9" data-from="0" data-to="99" />
                                </div>
                                <label class="circle-progress-label">Humor</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-6 language-skills">
                            <h3 class="title title-skills">Language skills</h3>
                            <div class="progress">
                                <label class="progress-bar-label">Bahasa Indonesia</label>
                                <span class="ratyli" data-rate="5" data-ratemax="5"></span>
                            </div>
                            <div class="progress">
                                <label class="progress-bar-label">Bahasa Jawa</label>
                                <span class="ratyli" data-rate="5" data-ratemax="5"></span>
                            </div>
                            <div class="progress">
                                <label class="progress-bar-label">English</label>
                                <span class="ratyli" data-rate="2" data-ratemax="5"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6 knowledge">
                            <h3 class="title title-skills">Knowledge</h3>
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                <ul>
                                    <li>Custom Website Design</li>
                                    <li>Mobile Application</li>
                                    <li>Frontend System</li>
                                    <li>Backend System</li>
                                    <!-- <li>Logo and Brochure Design</li>
                                    <li>Design for Print</li>
                                    <li>Animations and Graphics</li>
                                    <li>Mobile websites</li> -->
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                <ul>
                                    <li>Template/CMS based websites</li>
                                    <li>Linux Web Deployment</li>
                                    <li>Linux Server</li>
                                    <li>Website Hosting</li>
                                    <!-- <li>Template/CMS based websites</li>
                                    <li>iOS and Android App</li>
                                    <li>Website Hosting</li>
                                    <li>Search Engine Marketing (SEM)</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="info border-bottom padding-block text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <h3 class="title">Hobbies &amp; Interest</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <div class="circle-block ">
                                <span class="icon hover-animate"><i class="fa fa-futbol-o"></i></span>
                                <span class="name hover-animate">Football</span>
                            </div>
                            <div class="circle-block">
                                <span class="icon hover-animate"><i class="fa fa-headphones"></i></span>
                                <span class="name hover-animate">Music</span>
                            </div>
                            <div class="circle-block">
                                <span class="icon hover-animate"><i class="fa fa-rocket"></i></span>
                                <span class="name hover-animate">Travelling</span>
                            </div>
                            <div class="circle-block">
                                <span class="icon hover-animate"><i class="fa fa-car"></i></span>
                                <span class="name hover-animate">Cars</span>
                            </div>
                            <div class="circle-block">
                                <span class="icon hover-animate"><i class="fa fa-gamepad"></i></span>
                                <span class="name hover-animate">Video games</span>
                            </div>
                            <div class="circle-block">
                                <span class="icon hover-animate"><i class="fa fa-paint-brush"></i></span>
                                <span class="name hover-animate">Painting</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <section class="padding-block text-center testimonials border-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <h3 class="title">Testimonials</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <div class="block-grey">
                                <div class="slider_container">
                                    <div class="flexslider">
                                        <ul class="slides">
                                            <li>
                                                <div class="col-xs-12 col-sm-5 col-lg-5">
                                                    <img class="foto" src="assets/img/img-100x100.jpg" alt="Febri Ahmad Nurhidayat">
                                                    <h4 class="sub-title">Damon Guzman</h4>
                                                    <p>New Agency, LLC</p>
                                                </div>
                                                <div class="col-xs-12 col-sm-7 col-lg-7 border-left border-left">
                                                    <table>
                                                        <tr>
                                                            <td class="font-weight-m width-td1">I like UkieCard</td>
                                                            <td>August 21, 2016</td>
                                                        </tr>
                                                    </table>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                        veniam, quis nostrud exercitation ullamco laboris nisi.
                                                    </p>
                                                    <ul class="flex-direction-nav"><li><a class="prev" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li><li><a class="next" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li></ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="col-xs-12 col-sm-5 col-lg-5">
                                                    <img class="foto" src="assets/img/img-100x100.jpg" alt="Febri Ahmad Nurhidayat">
                                                    <h4 class="sub-title">Kirk Collins</h4>
                                                    <p>New Agency, LLC</p>
                                                </div>
                                                <div class="col-xs-12 col-sm-7 col-lg-7 border-left border-left">
                                                    <table>
                                                        <tr>
                                                            <td class="font-weight-m width-td1">New styles of home page are available</td>
                                                            <td>August 11, 1996</td>
                                                        </tr>
                                                    </table>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                        veniam, quis nostrud exercitation ullamco laboris nisi.
                                                    </p>
                                                    <ul class="flex-direction-nav"><li><a class="prev" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li><li><a class="next" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li></ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="col-xs-12 col-sm-5 col-lg-5">
                                                    <img class="foto" src="assets/img/img-100x100.jpg" alt="Febri Ahmad Nurhidayat">
                                                    <h4 class="sub-title">Melissa Hill</h4>
                                                    <p>New Agency, LLC</p>
                                                </div>
                                                <div class="col-xs-12 col-sm-7 col-lg-7 border-left border-left">
                                                    <table>
                                                        <tr>
                                                            <td class="font-weight-m width-td1">How to use ukiecard?</td>
                                                            <td>August 18, 2000</td>
                                                        </tr>
                                                    </table>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                        veniam, quis nostrud exercitation ullamco laboris nisi.
                                                    </p>
                                                    <ul class="flex-direction-nav"><li><a class="prev" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li><li><a class="next" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li></ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->

            <!-- <section class="padding-block text-center clients">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <h3 class="title">Clients</h3>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <div id="owl-clients" class="owl-carousel owl-theme">
                                <div class="item"><img src="assets/img/client-logo.png" alt="Clients"></div>
                                <div class="item"><img src="assets/img/client-logo.png" alt="Clients"></div>
                                <div class="item"><img src="assets/img/client-logo.png" alt="Clients"></div>
                                <div class="item"><img src="assets/img/client-logo.png" alt="Clients"></div>
                                <div class="item"><img src="assets/img/client-logo.png" alt="Clients"></div>
                                <div class="item"><img src="assets/img/client-logo.png" alt="Clients"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
        </div>

        <div class="portfolio-header" id="navportfolio">
            <header class="head">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-lg-5 text-right">
                            <img class="logo-page" src="./assets/img/portfolio_l.png" alt="Febri Ahmad Nurhidayat">
                        </div>
                        <div class="col-xs-12 col-sm-7 col-lg-7">
                            <h2 class="title">Portfolio</h2>
                            <h4 class="sub-title">Some of My Works</h4>
                        </div>
                    </div>
                </div>
            </header>

            <div class="portfolio-section padding-block">
                <div class="container">
                    <div class="row padding-bottom">
                        <div class="portfolio">
                            <!-- <div class="filter_div controls">
                                <div class="col-xs-12 col-sm-12 col-lg-11">
                                    <ul>
                                        <li class="hover-animate filter" data-filter="all">All</li>
                                        <li class="hover-animate filter" data-filter=".category-1">Web design</li>
                                        <li class="hover-animate filter" data-filter=".category-2">Illustrations</li>
                                        <li class="hover-animate filter" data-filter=".category-3">Applications</li>
                                    </ul>
                                </div>
                            </div> -->

                            <div id="portfolio-grid">
                                <div class="mix col-xs-12 col-sm-6 col-lg-4 portfolio-item category-2" data-value="1">
                                    <div class="within">
                                        <img src="assets/img/portfolio/simpatik-logo.png" alt="SIMPATIK Logo">
                                        <div class="port-item-cont">
                                            <h3 class="title">SIMPATIK</h3>
                                            <p class="desc">Your Project description</p>
                                            <a class="fancybox popup-content view-work hover-animate" href="#work-0" rel="mygallery">View details</a>
                                        </div>

                                        <div class="hidden">
                                            <div class="podrt-desc" id="work-0">
                                                <div class="modal-box-content">
                                                    <img src="assets/img/portfolio/simpatik.png" alt="SIMPATIK">
                                                    <div class="text">
                                                        <h3 class="title">SIMPATIK Kabupaten Kediri</h3>
                                                        <table>
                                                            <tr>
                                                                <td class="font-weight-m width-td">Completed</td>
                                                                <td>November 2014</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="font-weight-m">Client</td>
                                                                <td>Envato</td>
                                                            </tr>
                                                        </table>
                                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                                            sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                            laudantium, totam rem aperiamae vitae dicta sunt explicabo.</p>
                                                        <a href="" class="btn btn-color">See Live</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mix col-xs-12 col-sm-6 col-lg-4 portfolio-item category-2" data-value="2">
                                    <div class="within">
                                        <img src="assets/img/portfolio/kabkediri-logo.png" alt="SIMPATIK Logo">
                                        <div class="port-item-cont">
                                            <h3 class="title">PPDB 2016 Kabupaten Kediri</h3>
                                            <p class="desc">Your Project description</p>
                                            <a class="fancybox popup-content view-work hover-animate" href="#work-0" rel="mygallery">View details</a>
                                        </div>

                                        <div class="hidden">
                                            <div class="podrt-desc" id="work-0">
                                                <div class="modal-box-content">
                                                    <img src="assets/img/portfolio/simpatik.png" alt="SIMPATIK">
                                                    <div class="text">
                                                        <h3 class="title">PPDB 2016 Kabupaten Kediri</h3>
                                                        <table>
                                                            <tr>
                                                                <td class="font-weight-m width-td">Completed</td>
                                                                <td>November 2014</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="font-weight-m">Client</td>
                                                                <td>Envato</td>
                                                            </tr>
                                                        </table>
                                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                                            sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                            laudantium, totam rem aperiamae vitae dicta sunt explicabo.</p>
                                                        <a href="" class="btn btn-color">See Live</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="mix col-xs-12 col-sm-6 col-lg-4 portfolio-item category-2" data-value="4">
                                    <div class="within">
                                        <img src="assets/img/portfolio/kabkediri-logo.png" alt="SIMPATIK Logo">
                                        <div class="port-item-cont">
                                            <h3 class="title">PPDB 2017 Kabupaten Kediri</h3>
                                            <p class="desc">Your Project description</p>
                                            <a class="fancybox popup-content view-work hover-animate" href="#work-0" rel="mygallery">View details</a>
                                        </div>

                                        <div class="hidden">
                                            <div class="podrt-desc" id="work-0">
                                                <div class="modal-box-content">
                                                    <img src="assets/img/portfolio/simpatik.png" alt="SIMPATIK">
                                                    <div class="text">
                                                        <h3 class="title">PPDB 2017 Kabupaten Kediri</h3>
                                                        <table>
                                                            <tr>
                                                                <td class="font-weight-m width-td">Completed</td>
                                                                <td>November 2014</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="font-weight-m">Client</td>
                                                                <td>Envato</td>
                                                            </tr>
                                                        </table>
                                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                                            sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                            laudantium, totam rem aperiamae vitae dicta sunt explicabo.</p>
                                                        <a href="" class="btn btn-color">See Live</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="mix col-xs-12 col-sm-6 col-lg-4 portfolio-item category-2" data-value="3">
                                    <div class="within">
                                        <img src="assets/img/portfolio/sijempol-logo.png" alt="SIJEMPOL Logo">
                                        <div class="port-item-cont">
                                            <h3 class="title">SIJEMPOL Kabupaten Tuban</h3>
                                            <p class="desc">Your Project description</p>
                                            <a class="fancybox popup-content view-work hover-animate" href="#work-0" rel="mygallery">View details</a>
                                        </div>

                                        <div class="hidden">
                                            <div class="podrt-desc" id="work-0">
                                                <div class="modal-box-content">
                                                    <img src="assets/img/portfolio/simpatik.png" alt="SIMPATIK">
                                                    <div class="text">
                                                        <h3 class="title">SIJEMPOL Kabupaten Tuban</h3>
                                                        <table>
                                                            <tr>
                                                                <td class="font-weight-m width-td">Completed</td>
                                                                <td>November 2014</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="font-weight-m">Client</td>
                                                                <td>Envato</td>
                                                            </tr>
                                                        </table>
                                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                                            sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                            laudantium, totam rem aperiamae vitae dicta sunt explicabo.</p>
                                                        <a href="" class="btn btn-color">See Live</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mix col-xs-12 col-sm-6 col-lg-4 portfolio-item category-2" data-value="5">
                                    <div class="within">
                                        <img src="assets/img/portfolio/asik-logo.png" alt="SIMPATIK Logo">
                                        <div class="port-item-cont">
                                            <h3 class="title">ASIK Kabupaten Trenggalek</h3>
                                            <p class="desc">Your Project description</p>
                                            <a class="fancybox popup-content view-work hover-animate" href="#work-0" rel="mygallery">View details</a>
                                        </div>

                                        <div class="hidden">
                                            <div class="podrt-desc" id="work-0">
                                                <div class="modal-box-content">
                                                    <img src="assets/img/portfolio/simpatik.png" alt="SIMPATIK">
                                                    <div class="text">
                                                        <h3 class="title">SIJEMPOL Kabupaten Tuban</h3>
                                                        <table>
                                                            <tr>
                                                                <td class="font-weight-m width-td">Completed</td>
                                                                <td>November 2014</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="font-weight-m">Client</td>
                                                                <td>Envato</td>
                                                            </tr>
                                                        </table>
                                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                                            sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                            laudantium, totam rem aperiamae vitae dicta sunt explicabo.</p>
                                                        <a href="" class="btn btn-color">See Live</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mix col-xs-12 col-sm-6 col-lg-4 portfolio-item category-2" data-value="5">
                                    <div class="within">
                                        <img src="assets/img/portfolio/simita-logo.png" alt="SIMPATIK Logo">
                                        <div class="port-item-cont">
                                            <h3 class="title">SIMITA Kabupaten Tuban</h3>
                                            <p class="desc">Your Project description</p>
                                            <a class="fancybox popup-content view-work hover-animate" href="#work-0" rel="mygallery">View details</a>
                                        </div>

                                        <div class="hidden">
                                            <div class="podrt-desc" id="work-0">
                                                <div class="modal-box-content">
                                                    <img src="assets/img/portfolio/simpatik.png" alt="SIMPATIK">
                                                    <div class="text">
                                                        <h3 class="title">SIMITA Kabupaten Tuban</h3>
                                                        <table>
                                                            <tr>
                                                                <td class="font-weight-m width-td">Completed</td>
                                                                <td>November 2014</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="font-weight-m">Client</td>
                                                                <td>Envato</td>
                                                            </tr>
                                                        </table>
                                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                                            sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                            laudantium, totam rem aperiamae vitae dicta sunt explicabo.</p>
                                                        <a href="" class="btn btn-color">See Live</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12 text-center btn-center">
                            <a href="blog.html" class="btn hover-animate btn-color-hover">See all</a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <section class="blog" id="navblog">
            <header class="head">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-lg-5 text-right">
                            <img class="logo-page" src="./assets/img/blog_l.png" alt="Febri Ahmad Nurhidayat">
                        </div>
                        <div class="col-xs-12 col-sm-7 col-lg-7">
                            <h2 class="title">Blog</h2>
                            <h4 class="sub-title">I write here my thoughts</h4>
                        </div>
                    </div>
                </div>
            </header>

            <div class="padding-block">
                <div class="container">
                    <div class="row">
                        {% for post in site.posts limit:2 %}
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                            <div class="post">
                                <div class="photo">
                                    {% if post.thumbnail %}
                                    <img src="{{post.thumbnail}}" alt="{{ post.title }}" style="height: 350px; object-fit: cover;">
                                    {% else %}
                                    <img src="assets/img/blog/post-1.png" alt="{{ post.author }}" style="height: 350px; object-fit: cover;">
                                    {% endif %}
                                </div>
                                <h3 class="title title-blog">{{ post.title }}</h3>
                                <div class="entry-byline">
                                    <i class="fa fa-user"></i>
                                    <span class="entry-author right-border">
                                        <a href="#" title="Posts by Theme Admin" rel="author" >
                                            <span>{{ post.author }}</span>
                                        </a>
                                    </span>
                                    <i class="fa fa-clock-o"></i>
                                    <time class="entry-published right-border">{{ post.date | date: "%b %-d, %Y" }}</time>
                                    <!-- <i class="fa fa-comment"></i> -->
                                    <!-- <span class="comments-link">30 Comments</span> -->
                                </div>
                                <p>{{post.excerpt}}</p>
                                <a href="{{ post.url | prepend: site.baseurl }}" class="btn hover-animate btn-color-hover">Read More</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12 text-center btn-center">
                            <a href="/blogs" class="btn hover-animate btn-color-hover">Blog page</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="contact" id="navcontact">
            <header class="head">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-lg-5 text-right">
                            <img class="logo-page" src="./assets/img/contact_l.png" alt="Febri Ahmad Nurhidayat">
                        </div>
                        <div class="col-xs-12 col-sm-7 col-lg-7">
                            <h2 class="title">Contact</h2>
                            <h4 class="sub-title">Get in touch with me</h4>
                        </div>
                    </div>
                </div>
            </header>

            <section class="content padding-block border-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-6 padding-bottom">
                            <h3 class="title title-contact">Info kontak</h3>
                            <div class="block-grey">
                                <table>
                                    <tr>
                                        <td class="font-weight-m"><i class="fa fa-instagram"></i> Instagram</td>
                                        <td><a href="https://instagram.com/febriahmadn">febriahmadn</a></td>
                                    </tr>
                                    <!-- {% if site.gitlab_username %} -->
                                    <tr>
                                        <td class="font-weight-m"><i class="fa fa-gitlab"></i> Gitlab</td>
                                        <td><a href="https://gitlab.com/febriahmadn">{{site.gitlab_username}}</a></td>
                                    </tr>
                                    <!-- {% endif %} -->
                                    <tr>
                                        <td class="font-weight-m"><i class="fa fa-github"></i> Github</td>
                                        <td><a href="https://github.com/febriahmadn">febriahmadn</a></td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m"><i class="fa fa-mail-forward"></i> E-mail</td>
                                        <td><a href="mailto:febriahmadn@gmail.com">febriahmadn@gmail.com</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                            <h3 class="title title-contact">Contact form</h3>
                            <div class="contact-form">
                                <form action="assets/php/contact.php" id="contact-form" method="post">
                                    <input type="text" id="user-name" name="user-name" value="" placeholder="Name" />
                                    <input type="email" id="user-email" name="user-email" value="" placeholder="Email" />
                                    <input type="hidden" id="user-status" name="user-status" value="1"  />
                                    <textarea id="user-message" name="user-message" placeholder="Message"></textarea>
                                    <div class="footer-form">
                                        <input type="submit" id="submit-btn" class="btn btn-color hover-animate"  value="Send Message" />
                                        <div class="info-message-form">
                                            <p>Please fill out all the fields!</p>
                                            <span class="close-msg"><i class="fa fa-close"></i></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- <div class="contact-map padding-block text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <div id="map" class="map"></div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        {% include footer.html %}
    </div>
</div>






