<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

  {% include head.html %}

  <body>
    <div class="animationload">
      <div class="loader"></div>
    </div>

    {{ content }}

    <!-- Scroll to Top -->
    <a href="#" class="btn hover-animate scrollToTop"><i class="fa fa-angle-up"></i></a>
    <!-- End Scroll to Top -->

    <script src="assets/js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="assets/boostrap-files/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.appear.js" type="text/javascript"></script>
    <script src="assets/js/jquery.mixitup.min.js" type="text/javascript"></script>
    <script src="assets/js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.flexslider-min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.inview.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.knob.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="assets/js/jquery.countTo.js" type="text/javascript"></script>
    <script src="assets/fancybox/lib/jquery.mousewheel-3.0.6.pack.js" type="text/javascript" ></script>
    <script src="assets/fancybox/source/jquery.fancybox.pack.js?v=2.1.5" type="text/javascript" ></script>
    <script src="assets/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5" type="text/javascript"></script>
    <script src="assets/js/portfolio_scripts.js" type="text/javascript"></script>
    <script src="assets/js/jquery.ratyli.js" type="text/javascript"></script>
    <script src="assets/js/stickUp.js" type="text/javascript"></script>
    <script src="assets/js/modernizr.custom.js" type="text/javascript"></script>
    <script src="assets/js/prefixfree.min.js" type="text/javascript"></script>
    <script src="assets/js/modernizr.js" type="text/javascript"></script>
    <script src="assets/js/jquery.calendario.js" type="text/javascript"></script>
    <script src="assets/js/contact_scripts.js" type="text/javascript"></script>
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1J4h7Xqzd51GMRYG0OS8gPJpJMXC1MCE&callback=map"></script> -->
    <script src="assets/js/scripts.js" type="text/javascript"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YR9VE222P5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YR9VE222P5');
    </script>
    <script src="assets/js/instafeed.min.js"></script>
    <script type="text/javascript">
        // var feed = new Instafeed({
        //     get: 'user',
        //     userId: '3239205957',
        //     accessToken: '8312ae8ef96d4eee8fe3ceab6df8310b',
        //     // tagName: 'newyears',
        //     // resolution: 'low_resolution'
        // });

        // var feed = new Instafeed({
        //     get: 'user',
        //     // tagName: 'aitc',
        //     userId: '3239205957',
        //     // clientId: 'ba6185e.8312ae8ef96d4eee8fe3ceab6df8310b',
        //     accessToken: '3239205957.ba6185e.8312ae8ef96d4eee8fe3ceab6df8310b',
        //     // template: '<a href="{{link}}"><img src="{{image}}" /></a>',
        //     template: '<div class="col-xs-6 col-sm-4 col-lg-2"><a href="{{link}}"><img class="instagram-foto" src="{{image}}" alt="Instagram Feed"></a></div>',
        //     resolution: 'thumbnail',
        //     limit: 18,
        //     // filter: function(image) {
        //     //     return image.tags.indexOf('somehashtag') >= 0;
        //     // }
        // });
        // feed.run();
      </script>
  </body>
</html>
